<main id="add-workout">
  <style>
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
      
    }
    .card {
    
      background-image: linear-gradient(beige,white);
      text-align: center;
      font-weight: 700;
      line-height: 2.5;
    }
    </style>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          {{!-- Form header --}}
          <header class="card-header">
            <p class="card-header-title text-center"">
              Add New Workout
            </p>
          </header>

        {{!-- Add Workout Form --}}
          <div class="card-content" id="form-top">
            <div class="content">

              {{!-- Category Input --}}
              <div class="field">
                <label class="label">Workout Category *</label>
                <div class="control">
                  <div class="select">
                    <select id="addWorkoutCategory">
                      <option>Cardio</option>
                      <option>Strength</option>
                      <option>Flexibility</option>
                      <option>Balance</option>
                    </select>
                  </div>
                </div>
              </div>

              {{!-- Name Input --}}
              <div class="field">
                <label class="label">Exercise Name *</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Name" id="addWorkoutName">
                </div>
              </div>

              {{!-- Description Input --}}
              <div class="field">
                <label class="label">Short Description *</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Description here" id="addWorkoutDescription">
                </div>
              </div>

              {{!-- Equipment Input --}}
              <div class="field">
                <label for="date-input" class="label">Did you use any equipment for this exercise?</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Skip if none" id="addWorkoutEquipment">
                </div>
              </div>

              <p class="optional"><i><sub>* Required field</sub></i></p>
            </div>
          </div>

          {{!-- Add Workout Button --}}
          <footer class="card-footer" id="add-a-workout">
            <button id="addWorkoutButton" onclick="addWorkoutHandler()">Add Workout</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</main>

{{!-- Modal: Add another workout or view workouts --}}
<div id="workout-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100">You successfully added a workout session!</h5>
      </div>
      <div class="modal-body">
        <p>What would you like to do next?</p>
        <form>
          <a class="btn close_modal pt-1 bye-btn" href="/addWorkout" role="button">Add Another Workout</a>
          &nbsp;
          <a class="btn close_modal pt-1 bye-btn" href="/dashboard" role="button">Return to dashboard</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/addWorkout.js"></script>