<section>
    <h1>Delete Account</h1>
    <p>Are you sure you want to delete your account? This action is permanet and cannot be undone</p>
    <button id="deleteAccountButton" onclick="console.log('click')">Delete Account</button>
</section>