<section>
    <h1>Edit Password</h1>
    <label class="label">New Password</label>
    <input class="input" type="text" placeholder="New Password" id="updatePasswordInput">
    <button id="updatePasswordButton" onclick="console.log('clicked')">Update Password</button>
</section>

<script src="/js/editPassword.js"></script>