<section class="container">
    <style>
    .container {
      
      padding-bottom: 10px;
      text-align: left;
     
      color: rgb(255, 255, 255);
      margin-top: 10%;
      font-size: larger;
    }
     
    </style>
    <h1>Edit Password</h1>
    <label class="label">New Password</label><br>
    <input class="input" type="password" placeholder="New Password" id="updatePasswordInput"><br>
    <input class="input" type="password" placeholder="Confirm New Password" id="updatePasswordConfirmInput"><br>
    <button id="updatePasswordButton" onclick="editPasswordHandler()">Update Password</button>
</section>

<script src="/js/editPassword.js"></script>