<section>
    <h1>Current Username:</h1>
    <h2>{{username}}</h2>

        <label for="newUsername">New Username:</label>
        <input type="text" name="newUsername" id="newUsername" placeholder="New Username">
        <button onclick="editUsernameHandler()">Submit</button> 
</section>

<script src="/js/editUsername.js"></script>