

  <section id="exercises" class="container">

  <h1>Workouts</h1>

  {{#each exercises}}
    <div class="exercises">
    <h3>{{exercise_name}}</h3>
    <p>{{exercise_description}}</p>
  </div>
  {{else}}
    <h3>No Workouts Yet</h3>
  {{/each}}
    
</section>

<div class="container">
  <h2>My Workouts</h2>          
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>category</th>
        <th>exercise</th>
        <th>exercise description</th>
        <th>equipment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td> none</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
         <td> none</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
         <td> none</td>
      </tr>
    </tbody>
  </table>
</div>
