<section id="exercises" class="container">
  <h1>Workouts</h1>

  {{#each exercises}}
    <div class="exercises">
    <h3>{{exercise_name}}</h3>
    <p>Description: {{exercise_description}}</p>
    <p>Equipment: {{exercise_equipment}}</p>
  </div>
  {{else}}
    <h3>No Workouts Yet</h3>
  {{/each}}
    
</section>